<html>

<head>
<link rel='stylesheet' href='http://localhost:3000/css-1/style.css'>
</head>

<body>
<h1>Movies</h1>
<form  action='/movies/create'>

<button >Add to library</button>
</form>
<ul>
{{#movies}}
    <li>
    <h2>{{title}}</h2>
    <form method='POST' action='/movies/delete-movie'>
    <input type='hidden' value={{title}} name='title'>
    <button >Delete</button>
    </form>
        <ul>
            <li>
            <p>{{description}}<p>
            </li>
            <li>
            <p>{{genre}}</p>
            </li>
        </ul>
    </li>


{{/movies}}
<ul>







</body>

</html>