<html>

<head>
<link rel='stylesheet' href='http://localhost:3000/css-1/style.css'>
</head>

<body>

<h1>The movie {{title}} has successfully been added<a href='/movies'>View Library</a></h1>








</body>

</html>